:root {
  --blanco: #ffffff;
  --negro: #212121;
  --primario: #f57927;
  --primarioflojo:#f8a455;
  --secundario:  #0fc2d6;
  --secundarioOscuro: #073338;
  --secundarioFlojo: #81c9d1;
  --secundarioMasFlojo: #edf5f6;
  --azuloscuro: #56898f;
  
}
/*Generales*/
html {
  font-size: 62.5%;
  box-sizing: border-box; /*para que no se me modifique el tamaño al añadir pading*/
  scroll-snap-type: y mandatory; /*para que se detenga en las partes que yo quiera*/
}

*, *:before, *:after { /*para que no se me modifique el tamaño al añadir pading. Va con el box-sizing del html*/
  box-sizing: inherit;
}

body{
  font-size: 16px; /* 1rem=10px */
  font-family: 'Rubik', sans-serif;
}
h1{

  padding:2rem;

}
h2{
  font-size: 3.5rem;
}
h3{
  font-size: 2.5rem;
}

h2,h3{ 
  text-align: center;
  font-weight: bold;
}

img {
  max-width: 30rem;
}

a {
  text-decoration: none;
}
ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

table {
  width: 100%;
  font-size: 2rem;
  border-radius: 1.5rem;
}

th {
  padding: 3rem;
  background-color: var(--secundarioOscuro);
  color: var(--blanco);
 
  
}
th, td {
  
  border-bottom: 1px solid #ddd;
  text-align: center;
}




/*clases general*/
.alin-derecha {
  display: flex;
  justify-content: flex-end;

}
.boton {

  background-color: var(--secundarioMasFlojo);
  color: var(--secundarioOscuro);
  text-decoration: none;
  padding: 1rem 3rem;
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 1rem;
  width: 90%;
  text-align: center;
  border: none;
}
.boton:hover{
  cursor: pointer;
}
@media (min-width: 768px) { 
  .boton{
    width: auto;
  }
}


/*clases pública*/

.contenedor {
  max-width: 130rem;
  /*margin: 0 auto 0 auto; ponemos todos los margin en 1 en orden: top, right, bottom, left*/
  margin: 0 auto; /*si solo ponemos 2 el primero es top/bottom y el segundo right/left*/
}

.franja {
  background-color: var(--primario);
}

.centrar {
  text-align: center;
}
.logo {
  height: 12rem;
}

/*ICONS*/
.colocar-iconos {
  display: flex;
  justify-content: space-between;
}

.iconos .fab,
.iconos .fas {
  background-color: var(--primario);
  color: var(--blanco);
  font-size: 24px;
  padding: 0.5rem;
  margin-right: 5rem;
}
.iconos .fab:hover,
.iconos .fas:hover{
  color: var(--secundario);
}
.icon-admin {
  margin-right: 0;
}
/*iconos backoffice*/
.icon-sex {
  background-color: var(--secundarioFlojo);
  color: var(--primario);
  font-size: 6rem;
  padding: 0.5rem;
 
}
.icon-tabla {
  background-color: var(--azuloscuro);
  color: var(--secundarioOscuro);
  font-size: 2.3rem;
  padding: 0.5rem;
}
.icon-modif {
  background-color: var(--secundarioFlojo);
  color: var(--secundarioOscuro);
  font-size: 2.3rem;
  padding: 0.5rem;
 
}
.icon-modif:hover,
.icon-tabla:hover {
  color: var(--blanco)
}

/*Navegacion*/
.navegacion-principal{ 
  display: flex;
  flex-direction: column;
  /*align-items: center;/*Para alinear en columnas pero lo alinearemos en a*/

}
@media (min-width: 768px) { 
  .navegacion-principal{
    flex-direction: row;
    justify-content: space-between;/*para alinear en rows*/
  }
}
.navegacion-principal a {
  display: block;
  text-align: center;
  padding: 1rem;
  color: var(--blanco);
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;

}
.navegacion-principal a:hover{
  color: var(--negro);
  background-color: var(--secundario);
  
}
/*LOGIN*/

.formulario {
  background-color: var(--primarioflojo);
  width: min(60rem, 100%); /*coge 600px o si es más pequeño el 100%. Evita usar media queries */
  margin: 0 auto;
  padding: 2rem;
  border-radius: 1rem;
}
.formulario fieldset {
  border: none;
}
.formulario legend {
  color: var(--negro);
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 2rem;
  text-align: center;


}

.input-text {
  border: none;
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
}
.apartado-form textarea {
  height: 10rem;
}
.formulario label{
  font-weight: bold;
  margin: 0.5rem;
  display: block;
}



/*BACKOFFICE*/
.bo-flex-container{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width:768px){
  .bo-flex-container{
    flex-direction: row;
  }
}


.bo-aside{
  width: 100%;
  background-color: var(--azuloscuro);
  
  padding: 1rem;
  box-sizing: border-box;
}
@media only screen and (min-width:768px){
  .bo-aside{
    width: 325px;
    min-height: 100vh;
  }
}

.bo-aside .bo-logo{
  width: 100%;
}



.bo-aside .bo-logo .logo{
  width: 100%;
  height: auto;
}


.bo-main{
  width: 100%;
  background-color: var(--secundarioMasFlojo);
  padding: 1rem;
  box-sizing: border-box;
}
@media only screen and (min-width:768px){
  .bo-main{
    width: calc(100% - 325px);
    min-height: 100vh;
  }
}

/*Menú lateral*/
.bo-aside .menu-navigation{
  display: grid;
  grid-template-rows: 0.5fr 1fr ;
}


.bo-aside .menu-navigation .menu-list .menu-list-item {
  
  width: 100%;
  height: 100px;
  background-color: var(--secundarioOscuro);
  border-bottom: 1px solid white;
  

}
.menu-list-item a {
  color: var(--blanco);
  font-size: 2rem;
  font-weight: bold;
}
.menu-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bo-aside .menu-navigation .menu-list .menu-list-item:last-of-type{
  border-bottom: none

}
.bo-aside .menu-navigation .menu-list .menu-list-item.activa {
  background-color: var(--primario);
}
/*tablas*/
.tabla-admin {
  background-color: var(--azuloscuro);
}
.tabla-admin img {
  max-width: 150px;
}

.vista {
  max-width: 380px;
}

.scroll {
  overflow-x: auto;
}

.tabla-primero {
  border-top-left-radius: 1.5rem;
}

.tabla-ultimo {
  border-top-right-radius: 1.5rem;
}
/*formularios*/

.formulario-admin {
  background-color: var(--primarioflojo);
  width: min(80rem, 100%); /*coge 700px o si es más pequeño el 100%. Evita usar media queries */
  margin: 0 auto;
  padding: 2rem;
  border-radius: 1rem;
  font-size: 2rem;
}

.formulario-admin label,
.formulario-admin legend {
  font-weight: bold;
  padding-bottom: 1rem;
}
.formulario-admin input,
.formulario-admin textarea {
  margin-top: 0.5rem;
}

.formulario-admin fieldset {
  border: none;
  display: flex;
  justify-content: space-around;
}

@media (min-width: 860px) {
  .contenedor-apartados {
      display: grid;
      grid-template-columns: 1.5fr 1fr;
      grid-template-rows: auto auto auto;
      column-gap: 1rem;
  }

  .apartado-form:nth-child(3),
  .apartado-form:nth-child(4) {/*para seleccionar el 3er campo*/
      grid-column: 1/3; /*está en la fila correcta y le decimos que vaya de la columna 1 a la 3*/
  }
 .contenedor-adoptante {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto ;
  column-gap: 1rem;
 }

}
.apartado-form {
  display: flex;
  flex-direction: column; 
  margin-bottom: 1rem;
}

.apartado-adop{
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
/*grupos datos*/
.grupos-fotos {
  display: grid;
  grid-template-columns: 1fr;
  /*se fuede poner tambien: repeat(3, 1fr); o 33.3% 33.3% 33.3%*/
  column-gap: 2rem;

}
@media (min-width: 840px) {
  .grupos-fotos {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1330px) {

  .grupos-fotos {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

}
.grupo-foto {

  background-color: var(--secundarioFlojo);
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-top: 2rem;
  border-radius: 2rem;
  padding: 1.5rem;
  color: var(--secundarioOscuro);

}

.grupo-foto div {
  padding: 0.5rem;
  font-weight: bold;
}

.centrar-imagen {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.campos-oblig {
  font-size: 1.5rem;
}

.admin-foto {
  max-width: 20rem;
  height: 20rem;
  object-fit: cover;
}

.caja-datos {
  color: var(--secundarioOscuro);
  background-color: var(--secundarioFlojo);
  width: min(80rem, 100%); /*coge 700px o si es más pequeño el 100%. Evita usar media queries */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 1rem;
  font-size: 1.7rem;
  font-weight: bold;
}

