:root {
  --blanco: #ffffff;
  --negro: #212121;
  --primario: #f57927;
  --primarioflojo:#f8a46b;
  --secundario:  #0fc2d6;
  --secundarioOscuro: #073338;
  --secundarioFlojo: #81c9d1;
  
}

html {
  font-size: 62.5%;
  box-sizing: border-box; /*para que no se me modifique el tamaño al añadir pading*/
  scroll-snap-type: y mandatory; /*para que se detenga en las partes que yo quiera*/
}

*, *:before, *:after { /*para que no se me modifique el tamaño al añadir pading. Va con el box-sizing del html*/
  box-sizing: inherit;
}

body{
  font-size: 16px; /* 1rem=10px */
  font-family: 'Rubik', sans-serif;
}
h1{

  padding:2rem;

}
h2{
  font-size: 2.8rem;
}
h3{
  font-size: 1.8rem;
}

h2,h3{ 
  text-align: center;
}
a {
  text-decoration: none;
}
ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

.contenedor {
  max-width: 130rem;
  /*margin: 0 auto 0 auto; ponemos todos los margin en 1 en orden: top, right, bottom, left*/
  margin: 0 auto; /*si solo ponemos 2 el primero es top/bottom y el segundo right/left*/
}

.franja {
  background-color: var(--primario);
}

.centrar {
  text-align: center;
}
.logo {
  height: 12rem;
}

/*ICONS*/
.colocar-iconos {
  display: flex;
  justify-content: space-between;
}

.fab,
.fas {
  background-color: var(--primario);
  color: var(--blanco);
  font-size: 24px;
  padding: 0.5rem;
  margin-right: 5rem;
}
.fab:hover,
.fas:hover{
  color: var(--secundario);
}
.icon-admin {
  margin-right: 0;
}

/*Navegacion*/
.navegacion-principal{ 
  display: flex;
  flex-direction: column;
  /*align-items: center;/*Para alinear en columnas pero lo alinearemos en a*/

}
@media (min-width: 768px) { 
  .navegacion-principal{
    flex-direction: row;
    justify-content: space-between;/*para alinear en rows*/
  }
}
.navegacion-principal a {
  display: block;
  text-align: center;
  padding: 1rem;
  color: var(--blanco);
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;

}
.navegacion-principal a:hover{
  color: var(--negro);
  background-color: var(--secundario);
  
}

.formulario {
  background-color: var(--primarioflojo);
  width: min(60rem, 100%); /*coge 600px o si es más pequeño el 100%. Evita usar media queries */
  margin: 0 auto;
  padding: 2rem;
  border-radius: 1rem;
}
.formulario fieldset {
  border: none;
}
.formulario legend {
  color: var(--negro);
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 2rem;
  text-align: center;


}

.input-text {
  border: none;
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.5rem;
}
.formulario label{
  font-weight: bold;
  margin: 0.5rem;
  display: block;
}



/*BACKOFFICE*/
.bo-flex-container{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width:768px){
  .bo-flex-container{
    flex-direction: row;
  }
}


.bo-aside{
  width: 100%;
  background-color: var(--secundarioFlojo);
  
  padding: 1rem;
  box-sizing: border-box;
}
@media only screen and (min-width:768px){
  .bo-aside{
    width: 325px;
    min-height: 100vh;
  }
}

.bo-aside .bo-logo{
  width: 100%;
}



.bo-aside .bo-logo .logo{
  width: 100%;
  height: auto;
}


.bo-main{
  width: 100%;
  background-color: var(--primarioflojo);
  padding: 1rem;
  box-sizing: border-box;
}
@media only screen and (min-width:768px){
  .bo-main{
    width: calc(100% - 325px);
    min-height: 100vh;
  }
}

/*Menú lateral*/
.bo-aside .menu-navigation{
  display: grid;
  grid-template-rows: 0.5fr 1fr ;
}


.bo-aside .menu-navigation .menu-list .menu-list-item {
  
  width: 100%;
  height: 100px;
  background-color: var(--secundarioOscuro);
  border-bottom: 1px solid white;
  

}
.menu-list-item a {
  color: var(--blanco);
  font-size: 2rem;
  font-weight: bold;
}
.menu-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bo-aside .menu-navigation .menu-list .menu-list-item:last-of-type{
  border-bottom: none

}
.bo-aside .menu-navigation .menu-list .menu-list-item.activa {
  background-color: var(--primario);
}
.tabla-admin {
  background-color: var(--primario);
}
.tabla-admin img {
  max-width: 150px;
}
